<%= form_for @user do |f| %>

  <%= render 'shared/errors', thing: @user %>

  <%= start_cols %>

  <div class="field">
    <%= f.label :name %> <span class="hint">public</span><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <span class="hint">to send notifications; shown only to <%= Configurable.admin.pluralize.titlecase %></span><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <span class="hint">shown only to <%= Configurable.admin.pluralize.titlecase %></span><br>
    <%= f.phone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :description %> <span class="hint">public; anything you want to say</span><br>
    <%= f.text_area :description %>
  </div>

  <%= next_col %>

  <%= render 'shared/address_form', f: f, hint: "to invite you to nearby events; not shown to anyone" %>

  <%= end_cols %>

  <%= cancel %>
  <%= submit 'Save Profile' %>

<% end %>